In [1]:
import numpy as np
import pandas as pd

In [2]:
df2=pd.DataFrame({"names":['vineet','hisham','raj','ajeet','sujit','ramesh','priya','priyanka','suresh','ritesh','hitesh','jatin','chitesh','suman','raman','aman','ravi','shravi','chavvi','himanshu'],"rno":['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']})

In [3]:
df3=pd.DataFrame({"results":['fail','fail','pass','pass','fail','pass','fail','pass','pass','pass','pass','fail','fail','fail','pass','fail','pass','fail','pass','pass'],"rno":['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']})

In [4]:
merged_df=pd.merge(df2,df3,on='rno')
print(merged_df)

       names rno results
0     vineet   1    fail
1     hisham   2    fail
2        raj   3    pass
3      ajeet   4    pass
4      sujit   5    fail
5     ramesh   6    pass
6      priya   7    fail
7   priyanka   8    pass
8     suresh   9    pass
9     ritesh  10    pass
10    hitesh  11    pass
11     jatin  12    fail
12   chitesh  13    fail
13     suman  14    fail
14     raman  15    pass
15      aman  16    fail
16      ravi  17    pass
17    shravi  18    fail
18    chavvi  19    pass
19  himanshu  20    pass

In [5]:
# problem 1: student names who successfully cleared
passed_students = merged_df[merged_df["results"]=="pass"]['names']
print("students have successfully cleared exam:",list(passed_students))

students have successfully cleared exam: ['raj', 'ajeet', 'ramesh', 'priyanka', 'suresh', 'ritesh', 'hitesh', 'raman', 'ravi', 'chavvi', 'himanshu']

In [6]:
# problem 2: count no.of students(pass/fail)
pass_count=merged_df[merged_df['results']=='pass']
fail_count=merged_df[merged_df['results']=='fail']
print("No.of students passed:",pass_count)
print("No.of students failed:",fail_count)

No.of students passed:        names rno results
2        raj   3    pass
3      ajeet   4    pass
5     ramesh   6    pass
7   priyanka   8    pass
8     suresh   9    pass
9     ritesh  10    pass
10    hitesh  11    pass
14     raman  15    pass
16      ravi  17    pass
18    chavvi  19    pass
19  himanshu  20    pass
No.of students failed:       names rno results
0    vineet   1    fail
1    hisham   2    fail
4     sujit   5    fail
6     priya   7    fail
11    jatin  12    fail
12  chitesh  13    fail
13    suman  14    fail
15     aman  16    fail
17   shravi  18    fail

In [8]:
# arrenge names alphabetically
sort_names = df2.sort_values(by="names")['names']
print(sort_names)

3        ajeet
15        aman
18      chavvi
12     chitesh
19    himanshu
1       hisham
10      hitesh
11       jatin
6        priya
7     priyanka
2          raj
14       raman
5       ramesh
16        ravi
9       ritesh
17      shravi
4        sujit
13       suman
8       suresh
0       vineet
Name: names, dtype: object